<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="main-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `main-component`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MainComponent extends Polymer.Element {
      static get is() { return 'main-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'main-component'
          }
        };
      }
    }

    window.customElements.define(MainComponent.is, MainComponent);
  </script>
</dom-module>
