<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../todolist-element/todolist-element.html">
<link rel="import" href="../mis-tabs/mis-tabs.html">
<link rel="import" href="../information-card/information-card.html">

<dom-module id="main-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="mainContainer">
      <header class="header">
          <mis-tabs></mis-tabs>
      </header>
      <content id="contentContainer">
        <h2>Hello YO SOY el componente principal!</h2>
        <div id="componentsContainer">
          <todolist-element></todolist-element>
          <information-card></information-card>
        </div>
      </content>
    <div>
  </template>

  <script>
    /**
     * `main-component`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MainComponent extends Polymer.Element {
      static get is() { return 'main-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'main-component'
          }
        };
      }
    }

    window.customElements.define(MainComponent.is, MainComponent);
  </script>
</dom-module>
